@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

*{
    font-family: "Rubik", sans-serif;
}
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    opacity: 1;
    margin: 0 5px !important;
}
html{
    scroll-behavior: smooth;
    min-width: 400px;
}
.swiper-pagination-bullet-active{
    background: #F53838;
    opacity: 1;
    transform: scale(1.2);
    transition: transform 0.2s;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: "" !important;
}